---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/common-3.0.1/charts/library/common/values.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: &app redlib
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.0.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  # MaxHistory is the number of revisions saved by Helm for this HelmRelease.
  # Use ‘0’ for an unlimited number of revisions; defaults to ‘5’.
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: kubernetes.io/hostname
        whenUnsatisfiable: DoNotSchedule
        labelSelector:
          matchLabels:
            app.kubernetes.io/name: *app
    controllers:
      redlib:
        type: statefulset
        annotations:
          reloader.stakater.com/auto: 'true'
        containers:
          app:
            image:
              repository: quay.io/redlib/redlib
              tag: latest
            env:
              REDLIB_DEFAULT_SHOW_NSFW: on
              REDLIB_DEFAULT_WIDE: on
              REDLIB_DEFAULT_USE_HLS: on
              REDLIB_DEFAULT_HIDE_HLS_NOTIFICATION: on
              REDLIB_DEFAULT_THEME: doomone
              REDLIB_DEFAULT_FRONT_PAGE: all
              REDLIB_DEFAULT_LAYOUT: compact
              REDLIB_DEFAULT_COMMENT_SORT: top
              REDLIB_DEFAULT_SUBSCRIPTIONS: bapcsalescanada+teslamotors+ontario+apple+canada+askreddit+PersonalFinanceCanada

            resources:
              requests:
                cpu: 5m
                memory: 50Mi
              limits:
                memory: 850Mi
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /settings
                    port: &port 8080
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: false

    service:
      app:
        ports:
          http:
            port: *port
    ingress:
      app:
        enabled: true
        className: external
        annotations:
          external-dns.alpha.kubernetes.io/target: "external.${SECRET_DOMAIN}"
        hosts:
          - host: &host '{{ .Release.Name }}.${SECRET_DOMAIN}'
            paths:
              - path: /
                service:
                  name: main
                  port: http
        tls:
          - hosts:
              - *host
      internal:
        enabled: true
        className: internal
        hosts:
          - host: &host "{{ .Release.Name }}.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  name: main
                  port: http
        tls:
          - hosts:
              - *host
