---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: kqmc-checker-bot
    app.kubernetes.io/instance: kqmc-checker-bot
    app.kubernetes.io/managed-by: vmlab
    app.kubernetes.io/name: kqmc-checker-bot
  name: kqmc-checker-bot
  namespace: gcsim
spec:
  replicas: 1
  revisionHistoryLimit: 1
  selector:
    matchLabels:
      app: kqmc-checker-bot
      app.kubernetes.io/instance: kqmc-checker-bot
      app.kubernetes.io/managed-by: vmlab
      app.kubernetes.io/name: kqmc-checker-bot
  template:
    metadata:
      labels:
        app: kqmc-checker-bot
        app.kubernetes.io/instance: kqmc-checker-bot
        app.kubernetes.io/managed-by: vmlab
        app.kubernetes.io/name: kqmc-checker-bot
    spec:
      containers:
      - envFrom:
        - secretRef:
            name: kqmc-checker-bot-secrets
        image: ghcr.io/charlie-zheng/gcsim-kqmc-checker-develop:rolling@sha256:9a37d56de0f34e1afd560a9d35566283d65c814a5f8f48481b2094ce71f9e6c7
        imagePullPolicy: Always
        name: kqmc-checker-bot
        resources:
          limits:
            memory: 1Gi
          requests:
            cpu: 20m
            memory: 512Mi
      restartPolicy: Always
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: kqmc-checker-bot
spec:
  dataFrom:
  - extract:
      key: gcsim
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: kqmc-checker-bot-secrets
    template:
      data:
        DISCORD_TOKEN: '{{ .KQMC_CHECKER_BOT_DISCORD_TOKEN }}'
      engineVersion: v2
